/* table word wrap */
.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: inherit;
} */

svg {
    width: 100%;
    height: auto;
}

/* Right align eq number while keeping a permalink upon hover
from https://github.com/readthedocs/sphinx_rtd_theme/pull/383#issuecomment-348803509*/
div.math {
    position: relative;
    padding-right: 2.5em;
}
.eqno {
    height: 100%;
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-bottom: 5px;
    /* Fix for mouse over in Firefox */
    padding-right: 1px;
}
.eqno:before {
    /* Force vertical alignment of number */
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.eqno .headerlink {
    display: none;
    visibility: hidden;
    font-size: 14px;
    padding-left: .3em;
}
.eqno:hover .headerlink {
    display: inline-block;
    visibility: hidden;
    margin-right: -1.05em;
}
.eqno .headerlink:after {
    visibility: visible;
    content: "\f0c1";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -.9em;
}
/* Make responsive */
.MathJax_Display {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.rst-content .admonition.sirilcommand .admonition-title::before{
    content: url("../_static/org.free_astro.siril_small.svg");
 }

.rst-content .admonition.sirilcommand .admonition-title {
   background: purple;
}

.rst-content .admonition.sirilcommand {
    background: rgba(128, 0, 128, 0.105);
}

.rst-content .line-block {
    margin-bottom: 0;
}

.commandname {
    text-decoration: underline overline;
    text-transform: uppercase;
    font-size: large;
  }

pre {                                 
    white-space: pre-wrap !important; 
    word-break: break-all;            
}
